@charset "UTF-08";

body{
    background-color: lightgreen;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-image: linear-gradient(to bottom,  #1F8248, #03391A);
    color: white;
}